# Source code (users get compiled dist/)
engine/
tools/
game/
resources/

# Dev files
*.test.ts
tsconfig.json
*.map
*.ts.map
*.js.map
.vscode/
.git/
.gitignore

# Config files
project.ts

# Node/Bun
node_modules/
bun.lock
index.ts

*.tar
*.gz
*.tgz

test
